<div class="d-flex flex-wrap justify-content-left gap-3 col-sm-12">
  <% bookings.each do |booking| %>
    <% friend = booking.imaginary_friend %>
    <div class="card-friend" onclick="location.href='/imaginary_friends/<%=friend.id%>'" style="cursor:pointer">
          <% if friend.photo.attached? %>
            <%= cl_image_tag friend.photo.key, crop: :fill %>
          <% else %>
            <%= image_tag("https://images.pexels.com/photos/140079/pexels-photo-140079.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") %>
          <% end %>
          <div class="card-friend-infos">
            <div>
              <h2>Friend: <%= friend.name %></h2>
              <p>Requester: <%= booking.user.first_name %> </p>
              <% cls = "approval-tag #{booking.approved}" %>
              <p class="<%=cls%>">
                <%= booking.approved %>
              </p>
            </div>
            <h2 class="card-friend-pricing"><%= friend.price %> €</h2>
            <%= cl_image_tag friend.user.photo.key, class: "card-friend-user avatar-bordered" if friend.user.photo.attached? %>
          </div>
    </div>
  <% end %>
</div>
