<h4>Bookings of your iFriends</h4>
<%@bookings.each do |booking| %>
  <ul>
    <% unless booking.denied? %>
      <li>Imaginary Friend: <%=booking.imaginary_friend.name%></li>
      <li>Renter: <%=booking.user.email %></li>
      <li>Price: <%=booking.imaginary_friend.price%></li>
      <li>Date: from: <%= booking.start_date %> to: <%= booking.end_date %></li>
      <li>Status: <%= booking.approved %></li>
      <% if booking.pending? %>
        <%= link_to 'Accept booking', accept_booking_path(booking)  %>
        <%= link_to 'Decline booking', decline_booking_path(booking)  %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h4>Your requests and rents</h4>
<%@rents.each do |rent| %>
  <ul>
    <li>Imaginary Friend: <%=rent.imaginary_friend.name%></li>
    <li>Owner: <%=rent.imaginary_friend.user.email %></li>
    <li>Price: <%=rent.imaginary_friend.price%></li>
    <li>Status: <%= rent.approved %></li>
  </ul>
<% end %>
