    <%@bookings.each do |booking| %>
      <h4>Bookings</h4>
      <ul>
        <li>Imaginary Friend: <%=booking.imaginary_friend.name%></li>
        <li>Renter: <%=booking.user.email %></li>
        <li>Price: <%=booking.imaginary_friend.price%></li>
        <li>Status: <%= booking.approved %></li>
        <% if booking.pending? %>
          <%= link_to 'Accept booking', accept_booking_path(booking)  %>
          <%= link_to 'Decline booking', decline_booking_path(booking)  %>
        <% end %>
      </ul>
    <% end %>
