<h1>Welcome to i-friends!</h1>
<p>Start browsing through our rentable imaginary friends here: <%= link_to "All i-friends for rent",
                                                                   imaginary_friends_path, class:"btn btn-primary ms-3 mt-2"%>
                                                                   <%= link_to "Back to my friends",
                                                                   root_path, class:"btn btn-primary ms-3 mt-2"%></p>

<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1000445/pexels-photo-1000445.jpeg)">
    Our imaginary friends to rent

  </div>
  <div class="d-flex flex-wrap col-sm-12">
    <% @rent_friends.each do |friend| %>
      <div class="card-friend">
        <% if friend.photo.attached? %>
          <%= cl_image_tag friend.photo.key, crop: :fill %>
        <% else %>
          <%= image_tag("https://images.pexels.com/photos/140079/pexels-photo-140079.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") %>
        <% end %>
        <div class="card-friend-infos">
          <div>
            <h2><%= friend.name %></h2>
            <p><%= friend.description %> </p>
            <p><%= link_to "Read more about this imaginary friend", imaginary_friend_path(friend) %></p>
          </div>
          <h2 class="card-friend-pricing"><%= friend.price %> €</h2>
          <%= cl_image_tag friend.user.photo.key, class: "card-friend-user avatar-bordered" if friend.user.photo.attached? %>
          <%# What is this? %>
          <%# A placeholder for the user avatar which owns this iFriend, remove this feature? %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "rent a new friend", imaginary_friends_path, class:"btn btn-primary ms-3 mt-2"%>
</div>
