<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1000445/pexels-photo-1000445.jpeg)">
    Our imaginary friends to rent
  </div>
  <div class="d-flex flex-wrap col-sm-12">
    <% @imaginary_friends.each do |friend| %>
      <div class="card-friend">
        <% if friend.photo.attached? %>
          <%= cl_image_tag friend.photo.key, crop: :fill %>
        <% else %>
          <%= image_tag("https://images.pexels.com/photos/140079/pexels-photo-140079.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") %>
        <% end %>
        <div class="card-friend-infos">
          <div>
            <h2><%= friend.name %></h2>
            <p><%= friend.description %> </p>
            <p><%= link_to "Read more about this imaginary friend", imaginary_friend_path(friend) %></p>
          </div>
          <h2 class="card-friend-pricing"><%= friend.price %> €</h2>
          <%= cl_image_tag friend.user.photo.key, class: "card-friend-user avatar-bordered" if friend.user.photo.attached? %>
          <%# What is this? %>
          <%# A placeholder for the user avatar which owns this iFriend, remove this feature? %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Add a new friend", new_imaginary_friend_path, class:"btn btn-primary ms-3 mt-2"%>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value=<%= ENV['MAPBOX_API_KEY'] %>></div>
