<div class="container">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex row">
      <h1>Imaginary Friend: <%=@imaginary_friend.name%></h1>
      <p>Description:</p>
      <p><%=@imaginary_friend.description%></p>
      <% if @imaginary_friend.special_abilities %>
        <p>Special Abilities:</p>
        <p><%=@imaginary_friend.special_abilities%></p>
      <%end%>
      <br>

      <p>Rent this imaginary friend for only:</p>
      <p><%=@imaginary_friend.price%>€ / day!</p>
    </div>
    <%= cl_image_tag @imaginary_friend.photo.key, class:"card-friend" if @imaginary_friend.photo.attached? %>
  </div>

  <%= link_to 'Back to list', imaginary_friends_path(@imaginary_friend), class:"btn btn-primary mb-2 mt-4"%>

  <% if current_user == @imaginary_friend.user%>
    <br>
        <%= link_to "Remove this imaginary friend",
            imaginary_friend_path(@imaginary_friend),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-primary" %>
  <%end%>

  <% unless @imaginary_friend.user == current_user %>
    <div data-controller="calendar" data-calendar-dates-value="<%= @disabled_dates.to_json %>" >
      <%= @disabled_dates %>

      <%= simple_form_for @booking do |f| %>
        <%= f.hidden_field :imaginary_friend_id, value: @imaginary_friend.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="form-group">
          <%= f.label :start_date, "Start date" %>
          <div class="input-group date" id="start-date-picker" data-calendar-target="startDatePicker">
            <%= f.text_field :start_date, class: "form-control", data: {target: "calendar.startDatePicker"} %>
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :end_date, "End date" %>
          <div class="input-group date" id="end-date-picker" data-calendar-target="endDatePicker">
            <%= f.text_field :end_date, class: "form-control" %>
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
        </div>

        <%= f.button :submit, class:"btn btn-primary" %>
      <% end %>
    </div>
    <%= render 'new_review', imaginary_friend: @imaginary_friend %>
  <%else%>
    <%= link_to 'Edit this friend', edit_imaginary_friend_path, class:"btn btn-primary mb-2 mt-4"%>
  <%end%>
  <br>
  <br>
</div>
