<div class="container">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex row">
      <h1>Imaginary Friend: <%=@imaginary_friend.name%></h1>
      <p>Description:</p>
      <p><%=@imaginary_friend.description%></p>
      <% if @imaginary_friend.special_abilities %>
        <p>Special Abilities:</p>
        <p><%=@imaginary_friend.special_abilities%></p>
      <%end%>
      <br>

      <p>Rent this imaginary friend for only:</p>
      <p><%=@imaginary_friend.price%>€ / day!</p>
    </div>
    <%= cl_image_tag @imaginary_friend.photo.key, class:"card-friend" if @imaginary_friend.photo.attached? %>
  </div>

  <%= simple_form_for @booking do |f| %>
    <%= f.hidden_field :imaginary_friend_id, value: @imaginary_friend.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.button :submit %>
  <% end %>

  <%= link_to 'Back to list', imaginary_friends_path, class:"btn btn-primary mb-2 mt-4"%>
  <% if current_user == @imaginary_friend.user%>
    <br>
        <%= link_to "Remove this imaginary friend",
            imaginary_friend_path(@imaginary_friend),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-primary" %>
  <%end%>
</div>
