<div class="container">
  <div class="friend-container">
    <%# Description %>
    <div class="friend-show-info">
      <%= cl_image_tag @imaginary_friend.photo.key, class:"w-100 h-50" if @imaginary_friend.photo.attached? %>
      <h1>Imaginary Friend: <%=@imaginary_friend.name%></h1>
      <div class="white-background-text">
        <% if @imaginary_friend.special_abilities %>
          <div class='d-flex'>
            <% @imaginary_friend.special_abilities.split(',').each do |ability| %>
              <p class='special-ability-tag'>
                <%= "##{ability}" %>
              </p>
            <% end %>
          </div>
        <%end%>
        <p><%=@imaginary_friend.description%></p>
      </div>
    </div>

    <%# Booking box or actions box %>
    <div>
      <div class='white-background-text booking-box mb-0'>
        <h4>€<%=@imaginary_friend.price%>/day</h4>
        <% if current_user && current_user == @imaginary_friend.user%>
          <%= link_to 'Edit this friend', edit_imaginary_friend_path, class:"btn btn-pink-edit"%>
          <%= link_to "Remove this friend",
            imaginary_friend_path(@imaginary_friend),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-delete" %>
        <% else %>
          <%= render 'calendar' %>
        <% end %>
      </div>
      <br>
    </div>
  </div>

  <%# Bookings %>
  <% if current_user && @imaginary_friend.user == current_user %>
    <% bookings = @imaginary_friend.bookings.select { |booking| booking.approved == 'pending' } %>
    <% if bookings.count > 0 %>
      <%= render 'pending_bookings', imaginary_friend: @imaginary_friend, bookings: bookings %>
    <% end %>
  <% end %>

  <%# Reviews %>
  <%= render 'new_review', imaginary_friend: @imaginary_friend %>
</div>
